.content_reviews
  .content_show
    .content_book{data: {id: "#{@book.id}"}}
      .book_title
        = simple_format @book.title
      .book_image
        - if @book.image.present?
          = image_tag @book.image.url, :id => "book_image"
    .comment
      = form_with(model: [@book, @review], local: true) do |form|
        = form.text_area :review, placeholder: "　レビューを書く", rows: "5"
        = form.submit "SEND"

  .reviews
    %h4 ＜レビュー一覧＞
    - if @reviews.present?
      - @reviews.each do |review|
        .reviews_review
          = simple_format review.review
 



  -# {:style => "background-image: url(#{@book.image});"}
  -#     .more

  -#       -# %span= image_tag 'arrow_top.png'
  -#       %ul.more_list
  -#         %img{:src => "#{@book.image}", :width => "100"}/
  -#     -# = simple_format(reviews.review)
  -#     %span.title
  -#       = book.title


