!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PicturebookApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %header
      .header__bar
        %h1.header__logo
          %a{:href => "/"}
            %font{:face => "Light_AmeChanPop_Maru_v2_001"} ぴくちゃーぶっく
        .header__search
          %form#form{:action => "#", :method => "get"}
          %input#sbox{:name => "s", :placeholder => " タイトルを入力", :type => "text"}/
          %button#sbtn{:type => "submit" }
          -# %i.fas.fa-search
        .header__post
          %a.header__post{:href => "/books/new"} レビュー


    %main
      .main.contents


    = yield
