!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PicturebookApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
      .header__bar
        %h1.header__logo
          %a{:href => "/"} ぴくちゃーぶっく
        .header__search
          %form#form{:action => "自分のサイトURL", :method => "get"}
          %input#sbox{:name => "s", :placeholder => "タイトルを入力", :type => "text"}/
          %button#sbtn4{:type => "submit" }
          -# %i.fas.fa-search
        .header__post
          %a.header__post{:href => "/books/new"} 感想を書く



    = yield
