!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ぴくちゃーぶっく
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/earlyaccess/nikukyu.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/earlyaccess/nicomoji.css", :rel => "stylesheet"}/



    -# :javascript
    -#   WebFontConfig = {
    -#     google: { families: [ 'Unica+One::latin' ] }
    -#   };
    -#   (function() {
    -#     var wf = document.createElement('script');
    -#     wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
    -#       '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    -#     wf.type = 'text/javascript';
    -#     wf.async = 'true';
    -#     var s = document.getElementsByTagName('script')[0];
    -#     s.parentNode.insertBefore(wf, s);
    -#   })();
  %body
  %p.notice= notice
  %p.alert= alert

  %header.header
    .header__bar
      %h1.header__logo
        %a{:href => "/books"} ぴくちゃーぶっく

      .header__post
        = link_to  "とうこう", "/books/new", class: "post"

  = yield

  %footer
    Copyright picture book 2019.
